<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="samm-feed" value="https://pkgs.dev.azure.com/jack4it/_packaging/samm-feed/nuget/v3/index.json" />
    <!--<add key="heiner-feed" value="https://pkgs.dev.azure.com/jack4it/_packaging/heiner-feed/nuget/v3/index.json" />-->
  </packageSources>
</configuration>